<div id="login" class="container-fluid text-center pt-5 text-light"> <!--main container-->

    <div id="loginitems" class="w-25 flex-wrap flex-column rounded mx-auto p-3"> <!--div containing the items-->

        <h1 class="mb-5">Log in</h1> <!--title-->

        <!--region login form-->
        <div class="d-flex py-2 px-3 w-100 mx-auto">

              <span class="flex-column d-flex w-100">
                <label class="my-2 form-row w-100">Email: <input class="ml-auto rounded border-0 bg-dark text-light p-1" type="email" (keydown.enter)="logIn()" [(ngModel)]="email" name="email"> </label> <!--email input-->
                <label class="my-2 form-row mb-5 w-100">Password: <input class="ml-auto rounded border-0 bg-dark text-light p-1" type="password" (keydown.enter)="logIn()" [(ngModel)]="password" name="password"></label> <!--password input-->
                <button class="flex-row mx-auto w-50 mt-5 btn-dark border-0 text-light py-2 rounded" (click)="logIn()">Log in</button> <!--log in button-->
              </span>

        </div>
        <!--endregion-->

        <!--region registration shortcut-->
        <div class="mt-4">
            <label>Don't have an account yet? Register <a routerLink="/register">here</a>!</label>
        </div>
        <!--endregion-->

    </div>

</div>