<div id="concertinfo" class="container-fluid p-4">

    <div class="d-flex flex-column p-2"> <!--main container-->

        <!--region page title-->
        <div id="concertinfotitle" class="mx-auto text-light py-2 px-4 rounded"> <!--first flex item from main-->
            <h1><strong>About the concert</strong></h1>
        </div>
        <!--endregion-->

        <!--region main bands-->
        <div id="mainbands" class="rounded d-flex mx-auto justify-content-between w-75 my-5 p-2 align-items-center"> <!--second item from main-->
            <a id="acdclogo" href="https://www.acdc.com/" target="_blank"><img src="../../assets/acdclogo.png" alt="AC/DC"></a> <!--first item from secondary-->
            <a id="metallicalogo" href="https://www.metallica.com/" target="_blank"><img src="../../assets/metallicalogo.png" alt="Metallica"></a> <!--second item from secondary-->
            <a id="gunsnroseslogo" href="https://www.gunsnroses.com/" target="_blank"><img src="../../assets/gunsnroseslogo.png" alt="Guns N' Roses"></a> <!--third item from secondary-->
            <a id="kisslogo" href="https://www.kissonline.com/" target="_blank"><img src="../../assets/kisslogo.png" alt="Kiss"></a> <!--fourth item from secondary-->
        </div>
        <!--endregion-->

        <!--region concert info text-->
        <div id="concertinfotext" class="rounded d-flex flex-column m-2 py-2 px-5 text-light"> <!--third flex item from main-->

            <div class="d-flex flex-row justify-content-between mb-1 p-2 align-items-center">

                <p class="w-50">
                    AC/DC is an Australian rock band formed in Sydney in 1973 by brothers Malcolm and Angus Young. Their music has been described by music journalists as hard rock,
                    blues rock and, controversially, heavy metal. The group has defined itself as "a rock and roll band, nothing more, nothing less".
                    <br>
                    Metallica is an American heavy metal band. The band was formed in 1981 in Los Angeles, California by drummer Lars Ulrich and vocalist/guitarist James Hetfield and has
                    been based in San Francisco for most of its career. The group's fast tempos, instrumentals and aggressive musicianship made them one of the founding "big
                    four" bands of thrash metal alongside Megadeth, Anthrax and Slayer. Metallica's current line-up contains founding members Hetfield and Ulrich, longtime lead
                    guitarist Kirk Hammett and bassist Robert Trujillo. Guitarist Dave Mustaine (who went on to form Megadeth) and bassists Ron McGovney, Cliff Burton and Jason Newsted
                    are former members of the band.

                </p>
                <img id="concertinfoline1image" src="../../assets/concert1.png">

            </div> <!--line 1-->

            <div class="d-flex flex-row justify-content-between mt-1 p-2 align-items-center">

                <img id="concertinfoline2image" src="../../assets/concert3.png">
                <p class="w-50 my-auto">
                    Guns N' Roses, often abbreviated as GNR, is an American hard rock band from Los Angeles, California, formed in 1985. When they signed to Geffen Records in 1986,
                    the band comprised vocalist Axl Rose, lead guitarist Slash, rhythm guitarist Izzy Stradlin, bassist Duff McKagan and drummer Steven Adler. The current line-up consists
                    of Rose, Slash, McKagan, keyboardist Dizzy Reed, guitarist Richard Fortus, drummer Frank Ferrer and keyboardist Melissa Reese.
                    <br>
                    KISS is an American rock band formed in New York City in January 1973 by Paul Stanley, Gene Simmons, Peter Criss and Ace Frehley. Well known for its members'
                    face paint and stage outfits, the group rose to prominence in the mid-to-late 1970s with their elaborate live performances, which featured fire breathing,
                    blood-spitting, smoking guitars, shooting rockets, levitating drum kits and pyrotechnics. The band has gone through several line-up changes, with Stanley and Simmons
                    the only remaining original members. The original and best-known line-up consisted of Stanley (vocals and rhythm guitar), Simmons (vocals and bass), Frehley
                    (lead guitar and vocals) and Criss (drums and vocals).
                </p>

            </div> <!--line 2-->

        </div>
        <!--endregion-->

    </div>

</div>