<!--region sticky-top navbar-->
<div id="navbardiv" class="sticky-top">
    <nav id="navbarnav" class="bg-brown navbar navbar-expand-sm">

        <span class="nav-item">   <button class="navbar-brand mr-auto border-0 btn-brown rounded" [ngx-scroll-to]="'app-dashboard'" routerLink="/landing"><img src="../assets/logo.png" width="100" height="50" routerLink="/landing"></button> </span> <!--to go to section: dashboard-->

        <div class="ml-auto">
            <ul class="nav navbar-nav">

                <li class="nav-item mr-1">
                    <button class="btn-brown border-0 rounded py-1 px-2" [ngx-scroll-to]="'app-buyticket'" routerLink="/landing" *ngIf="sessionTicket == null">Buy ticket</button> <!--to go to section: buy ticket-->
                </li>

                <li class="nav-item mr-1">
                    <button class="btn-brown border-0 rounded py-1 px-2" [ngx-scroll-to]="'app-concertinfo'" routerLink="/landing">Concert info</button> <!--to go to section: concert info-->
                </li>

                <li class="nav-item mr-1">
                    <button class="btn-brown border-0 rounded py-1 px-2" [ngx-scroll-to]="'app-fairinfo'" routerLink="/landing">Fair info</button> <!--to go to section: fair info-->
                </li>

                <li class="nav-item mr-1">
                    <button class="btn-brown border-0 rounded py-1 px-2" [ngx-scroll-to]="'footer'" routerLink="/landing">Contact info</button> <!--to go to footer-->
                </li>

                <li class="nav-item mr-1" *ngIf="sessionAccount == null">
                    <button class="btn-brown border-0 rounded py-1 px-2" routerLink="/login">Login</button> <!--to go to login page-->
                </li>

                <li class="nav-item mr-1" *ngIf="sessionAccount != null">
                    <button class="btn-brown border-0 rounded py-1 px-2" routerLink="/manageaccount">My account</button> <!--to change account info-->
                </li>

                <li class="nav-item mr-1" *ngIf="sessionAccount != null">
                    <button class="btn-brown border-0 rounded py-1 px-2" (click)="logOut()">Log out</button> <!--to log out-->
                </li>

            </ul>
        </div>

    </nav>
</div>
<!--endregion--> <!--sticky nav is here because it should ALWAYS be visible-->

<router-outlet id="router-outlet"></router-outlet>
