<div id="accountmanagement" class="container-fluid text-center pt-5 text-light">

    <div id="accountmanagementitems" class="w-50 flex-wrap flex-column rounded mx-auto p-3">

        <h1 class="mb-5">Account management</h1><!--title-->

        <div class="d-flex py-2 px-3 w-100 mx-auto text-light"> <!--registration form-->

            <!--region old info-->
            <div *ngIf="isChangingPhone == false && isChangingEmail == false && isChangingPassword == false && isViewingTicket == false && isAddingCredit == false"
                 class="flex-column d-flex w-100 bg-dark text-light rounded my-5 mx-5">
                <label class="flex-row mx-auto w-50 mt-2 border-0 py-2 rounded" >Email: {{sessionAccount.Email}}</label>
                <label class="flex-row mx-auto w-50 mt-2 border-0 py-2 rounded" >Name: {{sessionAccount.Name}}</label>
                <label class="flex-row mx-auto w-50 mt-2 border-0 py-2 rounded" >Phone: {{sessionAccount.Phone}}</label>
                <label class="flex-row mx-auto w-50 mt-2 border-0 py-2 rounded" *ngIf="sessionAccount.Gender == 1">Gender: Male</label>
                <label class="flex-row mx-auto w-50 mt-2 border-0 py-2 rounded" *ngIf="sessionAccount.Gender == 0">Gender: Female</label>
                <label class="flex-row mx-auto w-50 mt-2 border-0 py-2 rounded" >Credit stored: {{sessionAccount.CreditStored}}</label>
                <label class="flex-row mx-auto w-50 my-2 border-0 py-2 rounded" >Address: {{sessionAccount.Address}}</label>
            </div>
            <!--endregion-->

            <!--region change menu-->
            <div *ngIf="isChangingPhone == false && isChangingEmail == false && isChangingPassword == false && isViewingTicket == false && isAddingCredit == false" class="flex-column d-flex w-100">
                <button class="flex-row mx-auto w-50 mt-5 btn-dark border-0 text-light py-2 rounded" (click)="isChangingPhone = true">Change phone</button>
                <button class="flex-row mx-auto w-50 mt-5 btn-dark border-0 text-light py-2 rounded" (click)="isChangingPassword = true">Change password</button>
                <button class="flex-row mx-auto w-50 mt-5 btn-dark border-0 text-light py-2 rounded" (click)="isAddingCredit = true;">Add credit</button>
                <button class="flex-row mx-auto w-50 mt-5 btn-dark border-0 text-light py-2 rounded" (click)="isViewingTicket = true;" *ngIf="sessionticket != null">View ticket</button>

                <button class="flex-row mx-auto w-50 my-5 btn-dark border-0 text-light py-2 rounded" routerLink="/landing" (click)="isChangingPhone = false; isChangingEmail = false; isChangingPassword = false; isViewingTicket = false; isAddingCredit = false;;">Go back</button>
            </div>
            <!--endregion-->

            <!--region change phone-->
            <div *ngIf="isChangingPhone == true" class="flex-column d-flex w-100">
                <label class="my-2 form-row w-100">Current phone number:<input class="ml-auto rounded border-0 bg-dark text-light p-1" [ngModel]="oldPhone" name="oldPhone" readonly (keydown.enter)="changePhone()"></label>
                <label class="my-2 form-row w-100">New phone number:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="tel" [(ngModel)]="newPhone" name="newPhone" (keydown.enter)="changePhone()"></label>

                <button class="flex-row mx-auto w-50 mt-5 btn-dark border-0 text-light py-2 rounded" (click)="changePhone()">Save changes</button>
                <button class="flex-row mx-auto w-50 my-5 btn-dark border-0 text-light py-2 rounded" (click)="isChangingPhone = false; isChangingEmail = false; isChangingPassword = false; isViewingTicket = false; isAddingCredit = false;">Go back</button>
            </div>
            <!--endregion-->

            <!--region change password-->
            <div *ngIf="isChangingPassword == true" class="flex-column d-flex w-100">
                <label class="my-2 form-row w-100">Old password:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="password" [(ngModel)]="oldPassword" name="oldPassword" (keydown.enter)="changePassword()"></label>
                <label class="my-2 form-row w-100">New password:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="password" [(ngModel)]="newPassword" name="newPassword" (keydown.enter)="changePassword()"></label>
                <label class="my-2 form-row w-100">Repeat new password:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="password" [(ngModel)]="newRepeatedPassword" name="repeatedNewPassword" (keydown.enter)="changePassword()"></label>

                <button class="flex-row mx-auto w-50 mt-5 btn-dark border-0 text-light py-2 rounded" (click)="changePassword()">Save changes</button>
                <button class="flex-row mx-auto w-50 my-5 btn-dark border-0 text-light py-2 rounded" (click)="isChangingPhone = false; isChangingEmail = false; isChangingPassword = false; isViewingTicket = false; isAddingCredit = false;">Go back</button>
            </div>
            <!--endregion-->

            <!--region add credit-->
            <div *ngIf="isAddingCredit == true" class="flex-column d-flex w-100">
                <label class="my-2 form-row w-100">Credit stored:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="number" readonly [ngModel]="sessionAccount.CreditStored"></label>
                <label class="my-2 form-row w-100">Credit to add:<input class="ml-auto rounded border-0 bg-dark text-light p-1" type="number" [(ngModel)]="creditToAdd" name="creditToAdd" (keydown.enter)="addCredit()"></label>

                <button class="flex-row mx-auto w-50 mt-5 btn-dark border-0 text-light py-2 rounded" (click)="addCredit()">Add credit</button>
                <button class="flex-row mx-auto w-50 my-5 btn-dark border-0 text-light py-2 rounded" (click)="isChangingPhone = false; isChangingEmail = false; isChangingPassword = false; isViewingTicket = false; isAddingCredit = false;">Go back</button>
            </div>
            <!--endregion-->

            <!--region view ticket-->
            <div *ngIf="isViewingTicket == true" class="flex-column d-flex w-100">
                <label class="my-2 form-row w-100">Amount of people:
                    <input class="ml-auto rounded border-0 bg-dark text-light p-2" type="text" [(ngModel)]="sessionticket.AmountOfPeople" name="amountofpeople" readonly>
                </label>
                <label class="my-2 form-row w-100">Date of purchase:
                    <input class="ml-auto rounded border-0 bg-dark text-light p-2" type="text" [(ngModel)]="sessionticket.DateOfPurchase" name="dateofpurchase" readonly>
                </label>
                <label class="my-2 form-row w-100" *ngIf="sessionticket.CampingId != -1" >Camping spot: <!-- sessionticket.CampingId != null -- can never be null because database default is -1 -->
                    <input class="ml-auto rounded border-0 bg-dark text-light p-2" type="text" [(ngModel)]="sessionticket.CampingId" name="CampingId" readonly>
                </label>
                <label class="my-2 form-row w-100">Price:
                    <input class="ml-auto rounded border-0 bg-dark text-light p-2" type="text" [(ngModel)]="sessionticket.Price" name="price" readonly>
                </label>

                <button class="flex-row mx-auto w-50 my-5 btn-dark border-0 text-light py-2 rounded" (click)="isChangingPhone = false; isChangingEmail = false; isChangingPassword = false; isViewingTicket = false; isAddingCredit = false;">Go back</button>
            </div>
            <!--endregion-->

        </div>

    </div>

</div>
