#newsandupdatesdashboard {
    background: rgba(0, 0, 0, 0.5);
    min-height: 85vh;
    width: 15%;
}
#dashboard{
    background: url("../../assets/concert2.png") no-repeat bottom;
    background-size: cover;
    min-height: 95vh;
}