/*region coloring*/
.greenborder {
    border: 2px solid green;
}
.text-green, .text-green button, .text-green button:hover, .text-green button:active{
    color: #03b535;
}
.text-yellow, .text-yellow button, .text-yellow button:hover, .text-yellow button:active{
    color: #fbff00;
}
.bg-brown{
    background-color: #8e5d29
}
.btn-brown{
    color: #fbff00;
    background-color: #8e5d29;
    border-color: #8e5d29;
}
.btn-brown:hover{
    color: #fbff00;
    background-color: #714326;
    border-color: #693a27;
}
.btn-brown:focus, .btn-brown.focus{
    box-shadow: 0 0 0 0.2rem rgba(52,58,64,0.5);
}
.btn-brown.disabled, .btn-brown:disabled{
    color: #fbff00;
    background-color: #8e5d29;
    border-color: #8e5d29;
}
.btn-brown:not(:disabled):not(.disabled):active, .btn-brown:not(:disabled):not(.disabled).active,
.show > .btn-brown.dropdown-toggle {
    color: #fbff00;
    background-color: #8e5d29;
    border-color: #8e5d29;
}
/*endregion*/
body{
    font-size: larger;
}
#socialmedialogos{
    max-width: 15%;
}
#socialmedialogos img{
    width: 100%;
    height: 100%;
    border-radius: 0.25rem
}
#socialmedialogos a{
    width: 15%;
    height: 100%;
}