<app-dashboard id="app-dashboard"></app-dashboard> <!--dashboard-->
<app-buyticket id="app-buyticket" *ngIf="sessionticket == null || sessionticket == undefined"></app-buyticket> <!--to buy your ticket-->
<app-concertinfo id="app-concertinfo"></app-concertinfo> <!--lineup, band info-->
<app-fairinfo id="app-fairinfo"></app-fairinfo> <!--stalls, rollercoasters, shops-->

<!--region fixed footer at bottom of page-->
<div id="footer" class="bg-brown container-fluid py-3 text-center">

    <div class="d-flex flex-column align-self-start text-yellow">
        <span class="m-2">Telephone: +316 8888888</span>
        <span class="m-2">Email: <a href="mailto:someone@example.com">rockfair2018@gmail.com</a></span>
        <span class="m-2">All Digital Assets are Ⓒ Copyrighted by Orient Tech inc. 2017/2018</span>
        <span class="m-2">
            <a href="#" data-toggle="modal" data-target="#modalGen" data-unsp-sanitized="clean">General Terms &amp; Conditions</a> /
            <a href="#" data-toggle="modal" data-target="#modalFAQ" data-unsp-sanitized="clean">FAQ</a> /
            <a href="#" data-toggle="modal" data-target="#modalPolicy" data-unsp-sanitized="clean">Park Policy</a>
        </span>

        <div id="socialmedialogos" class="d-flex flex-row mt-1 align-self-center justify-content-between">
            <a class="mx-1" target="_blank" href="https://twitter.com/"><img title="Rockfair on twitter" src="../../assets/twitterlogo.png" alt="Twitter"></a>
            <a class="mx-1" target="_blank" href="https://www.facebook.com/"><img title="Rockfair on facebook" src="../../assets/facebooklogo.png" alt="Facebook"></a>
            <a class="mx-1" target="_blank" href="https://www.snapchat.com/"><img title="Rockfair on snapchat" src="../../assets/snapchatlogo.png" alt="Snapchat"></a>
            <a class="mx-1" target="_blank" href="https://www.instagram.com/"><img title="Rockfair on instagram" src="../../assets/instagramlogo.png" alt="Instagram"></a>
        </div>

    </div>

</div>
<!--endregion--> <!--footer is here because it should only be visible when the landing page is visible-->
